header {
    background-image: url("images/pic_1.jpg");
    height: 1093px;
    background-position: center;
    background-repeat: no-repeat;
}

#getschooled {
    font-size: 120px;
}

@media (max-width: 576px) {
    #getschooled {
        font-size: 61px;
    }
}

#register {
    background-color: #C271FF;
    border: lightgrey;
    font-style: none;
}

nav {
    margin-bottom: 156px;
}

