#homepage-header {
    background-image: url("images/pic_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#getschooled {
    font-size: 120px;
}

@media (max-width: 576px) {
    #getschooled {
        font-size: 61px;
    }
}

#register {
    background-color: #C271FF;
    border: lightgrey;
    font-style: none;
}



nav {
    margin-bottom: 156px;
}

#Carousel-of-quotes {
    height: 320px;
    background-color: #C271FF;
}

@media (max-width: 576px) {
    #Carousel-of-quotes {
        height:px;
    }
}

#purp-text {
    color:#C271FF;
}

#Free-membership {
    background-color: #071629;
}

#footer-color {
    background-color: #071629;
    height: 249px;
}

#watermark {
    opacity: 0.3517;
}

#pricing-header {
    background-image: url("images/pic_2.jpg");
    height: 1093px;
    background-position:center;
    background-repeat: no-repeat;
}

#bottom-row {
    border-bottom: 1px solid;
    border-color: darkgray;
}
