
header {
    background-image: url("images/pic_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1093px;
}

@media (max-width: 576px) {
    header {
        height: 1386px;
    }
}

#Carousel-of-quotes {
    height: 392px;
    background-color: #C271FF;
}

@media (max-width: 576px) {
    #Carousel-of-quotes {
        height: 591px;
    }
}

footer {
    background-color: #071629;
    height: 249px;
}